[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=%h/.local/bin/kanata --cfg %h/.kanata/hrm_num.kbd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
