[alias]
    st = status
    suir = submodule update --init --recursive
[core]
    excludesfile = ~/.gitignore_global
    editor = ~/Tools/Nvim/bin/nvim
[user]
    email = olegberezin2002@gmail.com
    name = Oleg Berezin
