[alias]
    st = status
    suir = submodule update --init --recursive
    rom = pull --rebase origin main
    cam = commit -a -m
    cm = commit -m
    c = checkout
    ph = push
    a = add
    tomain = "!f(){ git diff --cached | git -C ~/.dotfiles-main apply -3 && git -C ~/.dotfiles-main commit -m \"$1\" && git rebase --autostash main; }; f"
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[user]
    email = olegberezin2002@gmail.com
    name = Oleg Berezin
